<!DOCTYPE html>
<html>
<head>
	<title>Maintance Wahyu Daya Mulia</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Materialize icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- Materialize CSS -->

	<link rel="stylesheet" type="text/css" href="css/materialize.css">
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
	<!-- Materialize JavaScript -->
	<script src="js/materialize.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/scrool.js"></script>
	<script src="js/cam.js"></script>
</head>
<body>

	<!------------------------------------------------------------------------------------------------- .maintance -->

	<section class="brown lighten-5">
		<div class="container">
			<div class="section">	
				<div class="row">
					<div class="padd-atas"></div>

					<div class="col s12 m6">
						<div class="equal-height-column parallax-container">
							<img src="img/logo4.png" class="img-responsive center" alt="image">
						</div>	
					</div>

					<div class="col s12 m6">
						<h1>Maintance</h1>
						<hr>
						<h3><i class="mdi-content-send brown-text"></i></h3>
						<h4 class="left-align">Sorry, we're down for maintance.</h4>
						<br>
						<a href="index.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Back to Home</a>
					</div>
					<div class="padd-bawah"></div>
				</div>
			</div>
		</div>
	</section>

	<!------------------------------------------------------------------------------------------------- /.maintance -->

</body>
</html>