<!DOCTYPE html>
<html>
<head>
	<title>Admin- Event Wahyu Daya Mulia</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Materialize icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- Materialize CSS -->

	<link rel="stylesheet" type="text/css" href="css/materialize.css">
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
	<!-- Materialize JavaScript -->
	<script src="js/materialize.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/cam.js"></script>

</head>
<body class="brown lighten-5">

	<!------------------------------------------------------------------------------------------------- .navbar-atas -->

	<header>
		<nav class="brown lighten-5 nav-atas">
			<div class="nav-wrapper">
				<div class="row">

					<div class="col s12">
						<a href="#" data-target="sidenav-1" class="left sidenav-trigger hide-on-medium-and-up"><i class="material-icons">menu</i></a>
						<a class="right btn-floating btn-small red pulse icon-out"><i class="material-icons" style="line-height: 38px;">power_settings_new</i></a>
						<a target="_blank" class="brand-logo brown-text text-lighten-1">Event</a>
					</div>

				</div>
			</div>
		</nav>
	</header>

	<!------------------------------------------------------------------------------------------------- /.navbar-atas -->
	<!------------------------------------------------------------------------------------------------- .navbar-kiri -->

	<div id="sidenav-1" class="sidenav sidenav-fixed side-jar">

		<div class="card-panel coklat ident-admin">
			<span class="white-text center"><h5>Wahyu Daya Mulia</h5></span>
		</div>

		<div class="padd-atas-nav">
			<ul class="collapsible">
				<li>
					<a href="index.html" style="height: 80px; line-height: 80px;">
						<i class="material-icons" style="line-height: 80px;">dashboard</i>
					Dasboard</a>
				</li>
				<li>
					<a href="product.html" style="height: 80px; line-height: 80px;">
						<i class="material-icons" style="line-height: 80px;">format_list_bulleted</i>
					Product</a>
				</li>
				<li class="active">
					<a href="event.html" style="height: 80px; line-height: 80px;">
						<i class="material-icons" style="line-height: 80px;">event_note</i>
					Event</a>
				</li>
				<li>
					<a href="post.html" style="height: 80px; line-height: 80px;">
						<i class="material-icons" style="line-height: 80px;">border_color</i>
					Post</a>
				</li>
				<li>
					<a href="order.html" style="height: 80px; line-height: 80px;">
						<i class="material-icons" style="line-height: 80px;">card_travel</i>
					Order</a>
				</li>
				<li>
					<a href="user.html" style="height: 80px; line-height: 80px;">
						<i class="material-icons" style="line-height: 80px;">supervisor_account</i>
					User</a>
				</li>
			</ul>
		</div>
	</div>

	<!------------------------------------------------------------------------------------------------- /.navbar-kiri -->
	<!------------------------------------------------------------------------------------------------- .konten -->

	<main>
		<br>
		<div class="row">

			<div class="col s12 m12">
				<br>
				<a class="lime darken-1 waves-effect waves-light btn-large" href="event_post.html">
					<i class="material-icons left">add_circle_outline</i>
				Add New Event</a>
			</div>

			<div class="row">

				<div class="col s12 m8">
					<br>
					<h5 class="brown-text text-lighten-1">Event Masuk</h5>
					<div class="card darken-1 lime darken-1">
						<div class="card-content white-text">

							<table class="highlight">
								<thead>
									<tr>
										<th>No</th>
										<th>Nama</th>
										<th>Date</th>
										<th>Category</th>
										<th>Description</th>
										<th>Action</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td>1</td>
										<td>Alvin</td>
										<td>Eclair</td>
										<td>Eclair</td>

										<td><a class="btn-floating btn-small light-blue darken-2 icon-out"><i class="material-icons" style="line-height: 38px;">visibility</i></a></td>

										<td><a class="btn-floating btn-small light-green darken-4 icon-out"><i class="material-icons" style="line-height: 38px;">edit</i></a>
											<a class="btn-floating btn-small red icon-out"><i class="material-icons" style="line-height: 38px;">delete</i></a>
										</td>
									</tr>
									<tr>
										<td>2</td>
										<td>Alan</td>
										<td>Jellybean</td>
										<td>Eclair</td>

										<td><a class="btn-floating btn-small light-blue darken-2 icon-out"><i class="material-icons" style="line-height: 38px;">visibility</i></a></td>

										<td><a class="btn-floating btn-small light-green darken-4 icon-out"><i class="material-icons" style="line-height: 38px;">edit</i></a>
											<a class="btn-floating btn-small red icon-out"><i class="material-icons" style="line-height: 38px;">delete</i></a>
										</td>
									</tr>
									<tr>
										<td>3</td>
										<td>Jonathan</td>
										<td>Lollipop</td>
										<td>Eclair</td>

										<td><a class="btn-floating btn-small light-blue darken-2 icon-out"><i class="material-icons" style="line-height: 38px;">visibility</i></a></td>

										<td><a class="btn-floating btn-small light-green darken-4 icon-out"><i class="material-icons" style="line-height: 38px;">edit</i></a>
											<a class="btn-floating btn-small red icon-out"><i class="material-icons" style="line-height: 38px;">delete</i></a>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
					<br>
					<div class="row center">
						<ul class="pagination">
							<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
							<li class="active"><a href="#!">1</a></li>
							<li class="waves-effect"><a href="#!">2</a></li>
							<li class="waves-effect"><a href="#!">3</a></li>
							<li class="waves-effect"><a href="#!">4</a></li>
							<li class="waves-effect"><a href="#!">5</a></li>
							<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
						</ul>
					</div>
					<br>
				</div>

				<div class="col s12 m4">
					<br>
					<br>
					<div class="card darken-1 white-text lime darken-4">
						<div class="card-action das-box-bor">
							<h5 class="center angka-das">Event Masuk</h5>
						</div>
						<div class="card-content white-text">
							<div class="row">
								<div class="col s12 m6">
									<h3 class="center angka-das">25</h3>
								</div>
								<div class="col s12 m6">
									<i class="medium material-icons center icon-das brown-text text-lighten-5">event_note</i>
								</div>
							</div>
						</div>
					</div>

					<div class="card darken-1 white-text lime darken-3">
						<div class="card-action das-box-bor">
							<h5 class="center angka-das">Event Admin</h5>
						</div>
						<div class="card-content white-text">
							<div class="row">
								<div class="col s12 m6">
									<h3 class="center angka-das">25</h3>
								</div>
								<div class="col s12 m6">
									<i class="medium material-icons center icon-das brown-text text-lighten-5">event_note</i>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</main>

	<!------------------------------------------------------------------------------------------------- /.konten -->

</body>
</html>